{% extends 'base.html' %}
{% block title %}Welcome to my Exercise Logs{% endblock %}

{% block content %}
    {% if workout_items %}
        <ul>
        {% for workout in workout_items %}
            <div class="container-sm my-5 justify-content-center">
                <div class="row">
                    <div class="col-sm-2 col-md-5 col-lg-6">
                        <div class="p-1 bg-primary text-light">Workout Date</div>
                    </div>
                    <div class="col-sm-2 col-md-5 col-lg-6">
                        <div class="p-1 bg-primary text-light">Workout Type</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-5 col-lg-6">
                        <div class="p-1 bg-primary text-light">{{ workout.workout_date }}</div>
                    </div>
                    <div class="col-sm-2 col-md-5 col-lg-6">
                        <div class="p-1 bg-primary text-light"><a href="{% url 'exercise_logs:detail' workout.id %}">{{ workout.workout_text }}</a></div>
                    </div>
                </div>
            </div>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        {% comment %} <th scope="col">#</th> {% endcomment %}
                        <th scope="col">Workout Date</th>
                        <th scope="col">Workout Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% comment %} <th scope="row">{{ loop.counter }}</th> {% endcomment %}
                        <td>{{ workout.workout_date }}</td>
                        <td><a href="{% url 'exercise_logs:detail' workout.id %}">{{ workout.workout_text }}</a></td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
        </ul>
    {% else %}
        <p>No workouts have been complete.</p>  
    {% endif %}
    <h2> Add New Workout</h2>
    <form method="post">
        <table>
            {{ form.workout_text }}
        </table>
        {% csrf_token %}
        <button type="submit">Create</button>
    </form>
    
    {% comment %} {% if latest_workout_list %}
        <ul>
        {% for workout in latest_workout_list %}
            <li><a href="{% url 'exercise_logs:detail' workout.id %}">{{ workout.workout_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No workouts have been complete.</p>
    {% endif %} {% endcomment %}
{% endblock %}

